/* Styles sur toutes les pages */
* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
   font-family: "Montserrat", sans-serif; 
   color: #A5B4FC;
   font-size: 3.5em;
   font-weight: normal;
}

p {
    font-family: "Manrope", sans-serif;
    font-size: 1.1em;
}

li {
    font-family: "Manrope", sans-serif;
    font-size: 1em;
}

a {
    font-family: "Manrope", sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding: 40px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

p,
li,
h2 {
    color: #F9F8FF;
}

header, 
footer {
    padding: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}




